#home_con1
{
  background-color: #c93535;
  text-align: center;
}

#home_con2
{
  background-color: #74d472;
}

#home_con3
{
  background-color: #c93535;
}

#home_con4
{
  background-color: #74d472;
}